*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
}
.atas{
    width: 100%;
    padding: 20px;
    display: flex;
    background-color: aquamarine;
}
.kiri{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.kiri i{
    font-size: 2rem;
}
.tengah{
    width: 40%;
    display: flex;
    align-items: center;
}
.tengah ul{
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
}
.tengah ul li{
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.tengah ul li:hover{
    border-bottom: 3px black solid;
    border-top: 1px black solid;
    font-weight: bolder;
}
.kanan{
    width: 30%;
    display: flex;
    align-items: center;
}
.kanan ul{
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
}
.kanan ul li{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kanan ul li a{
    text-decoration: none;
}
.kanan ul li a i{
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50px;
    font-size: 1.3rem;
    color: black;
    border-radius: 10px;
}
.kanan ul li:hover:nth-child(1) a i{
    background-color: blue;
    color: white;
    border: none;
}
.kanan ul li:hover:nth-child(2) a i{
    background-color: rgb(0, 166, 255);
    color: white;
    border: none;
}
.kanan ul li:hover:nth-child(3) a i{
    background-color: red;
    color:white;
    border: none;
}
.bawah{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
    padding: 20px;
}
.bawah p{
    display: flex;
    gap: 5px;
    font-size: 1.1rem;
}
.bawah p i{
    color: rgb(0, 209, 0);
}
.bawah button{
    width: 8%;
    height: 30px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: aquamarine;
    border: none;
}
.bawah button:hover{
    font-weight: bold;
    border-bottom: 3px gray solid;
    border-top: 1px gray solid;
}
