*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
}
.atas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.atas h1{
    width: 100%;
    display: flex;
    justify-content: center;
}
.atas p{
    width: 40%;
    text-align: center;
}
.atas ul{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 50px;
}
.atas ul li a{
     text-decoration: none;
}
.atas ul li a i{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: black;
    background-color: greenyellow;
    border-radius: 15px;
}
.bawah{
    width:100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.bawah ul{
    width: 60%;
    display: flex;
    gap: 5px;
    list-style-type: none;
    border: 2px black solid;
    background-color: greenyellow;
    border-radius: 25px;
    padding: 5px;
}
.bawah ul li{
    width: 25%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.bawah ul li a{
    text-decoration: none;
    color: black;
}
.bawah ul li:hover{
    background-color: black;
}
.bawah ul li:hover a{
    color: greenyellow;
    font-weight: bolder;
}